<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>value</key>
		<string>smiley_0</string>
		<key>name</key>
		<string>[标准微笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_1</string>
		<key>name</key>
		<string>[香肠微笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_2</string>
		<key>name</key>
		<string>[乐呵呵笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_3</string>
		<key>name</key>
		<string>[眨眼微笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_4</string>
		<key>name</key>
		<string>[可爱微笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_5</string>
		<key>name</key>
		<string>[憨厚微笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_6</string>
		<key>name</key>
		<string>[调皮吐舌微笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_7</string>
		<key>name</key>
		<string>[露齿大笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_8</string>
		<key>name</key>
		<string>[标准嫌弃]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_9</string>
		<key>name</key>
		<string>[喜极而涕]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_10</string>
		<key>name</key>
		<string>[挑逗微笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_11</string>
		<key>name</key>
		<string>[酷酷一笑]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_12</string>
		<key>name</key>
		<string>[侧脸尴尬]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_13</string>
		<key>name</key>
		<string>[标准愤怒]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_14</string>
		<key>name</key>
		<string>[花痴]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_15</string>
		<key>name</key>
		<string>[标准害羞]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_16</string>
		<key>name</key>
		<string>[闷骚亲亲]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_17</string>
		<key>name</key>
		<string>[可爱亲亲]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_18</string>
		<key>name</key>
		<string>[沮丧]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_19</string>
		<key>name</key>
		<string>[闭眼沮丧]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_20</string>
		<key>name</key>
		<string>[无奈出汗]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_21</string>
		<key>name</key>
		<string>[超级委屈]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_22</string>
		<key>name</key>
		<string>[酣睡]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_23</string>
		<key>name</key>
		<string>[睡着]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_24</string>
		<key>name</key>
		<string>[惊讶对人]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_25</string>
		<key>name</key>
		<string>[惊讶对事]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_26</string>
		<key>name</key>
		<string>[惊讶传话]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_27</string>
		<key>name</key>
		<string>[晕倒]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_28</string>
		<key>name</key>
		<string>[嚎啕大哭]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_29</string>
		<key>name</key>
		<string>[标准大哭]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_30</string>
		<key>name</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_31</string>
		<key>name</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_32</string>
		<key>name</key>
		<string>[反对]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_33</string>
		<key>name</key>
		<string>[赞同]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_34</string>
		<key>name</key>
		<string>[一刀]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_35</string>
		<key>name</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_36</string>
		<key>name</key>
		<string>[图钉]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_37</string>
		<key>name</key>
		<string>[小汽车]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_38</string>
		<key>name</key>
		<string>[学校]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_39</string>
		<key>name</key>
		<string>[医院]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_40</string>
		<key>name</key>
		<string>[家]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_41</string>
		<key>name</key>
		<string>[城市]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_42</string>
		<key>name</key>
		<string>[雪糕]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_43</string>
		<key>name</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_44</string>
		<key>name</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_45</string>
		<key>name</key>
		<string>[太阳]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_46</string>
		<key>name</key>
		<string>[多云]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_47</string>
		<key>name</key>
		<string>[阴天]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_48</string>
		<key>name</key>
		<string>[雷阵雨]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_49</string>
		<key>name</key>
		<string>[下雨]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_50</string>
		<key>name</key>
		<string>[雪人]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_51</string>
		<key>name</key>
		<string>[圣诞树]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_52</string>
		<key>name</key>
		<string>[姜饼人]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_53</string>
		<key>name</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_54</string>
		<key>name</key>
		<string>[金元宝]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_55</string>
		<key>name</key>
		<string>[烟花绽放]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_56</string>
		<key>name</key>
		<string>[鞭炮]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_57</string>
		<key>name</key>
		<string>[红包]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_58</string>
		<key>name</key>
		<string>[灯笼]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_59</string>
		<key>name</key>
		<string>[鞭炮庆祝]</string>
	</dict>
	<dict>
		<key>value</key>
		<string>smiley_60</string>
		<key>name</key>
		<string>[中国结]</string>
	</dict>
</array>
</plist>
