<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[一刀]</key>
	<string>smiley_34</string>
	<key>[下雨]</key>
	<string>smiley_49</string>
	<key>[中国结]</key>
	<string>smiley_60)</string>
	<key>[乐呵呵笑]</key>
	<string>smiley_2</string>
	<key>[侧脸尴尬]</key>
	<string>smiley_12</string>
	<key>[医院]</key>
	<string>smiley_39</string>
	<key>[反对]</key>
	<string>smiley_32</string>
	<key>[可爱亲亲]</key>
	<string>smiley_17</string>
	<key>[可爱微笑]</key>
	<string>smiley_4</string>
	<key>[喜极而涕]</key>
	<string>smiley_9</string>
	<key>[嚎啕大哭]</key>
	<string>smiley_28</string>
	<key>[图钉]</key>
	<string>smiley_36</string>
	<key>[圣诞树]</key>
	<string>smiley_51</string>
	<key>[城市]</key>
	<string>smiley_41</string>
	<key>[多云]</key>
	<string>smiley_46</string>
	<key>[太阳]</key>
	<string>smiley_45</string>
	<key>[姜饼人]</key>
	<string>smiley_52</string>
	<key>[学校]</key>
	<string>smiley_38</string>
	<key>[家]</key>
	<string>smiley_40</string>
	<key>[小汽车]</key>
	<string>smiley_37</string>
	<key>[惊讶传话]</key>
	<string>smiley_26</string>
	<key>[惊讶对事]</key>
	<string>smiley_25</string>
	<key>[惊讶对人]</key>
	<string>smiley_24</string>
	<key>[憨厚微笑]</key>
	<string>smiley_5</string>
	<key>[挑逗微笑]</key>
	<string>smiley_10</string>
	<key>[无奈出汗]</key>
	<string>smiley_20</string>
	<key>[晕倒]</key>
	<string>smiley_27</string>
	<key>[标准大哭]</key>
	<string>smiley_29</string>
	<key>[标准嫌弃]</key>
	<string>smiley_8</string>
	<key>[标准害羞]</key>
	<string>smiley_15</string>
	<key>[标准微笑]</key>
	<string>smiley_0</string>
	<key>[标准愤怒]</key>
	<string>smiley_13</string>
	<key>[沮丧]</key>
	<string>smiley_18</string>
	<key>[灯笼]</key>
	<string>smiley_58</string>
	<key>[炸弹]</key>
	<string>smiley_35</string>
	<key>[烟花绽放]</key>
	<string>smiley_55</string>
	<key>[爱心]</key>
	<string>smiley_31</string>
	<key>[眨眼微笑]</key>
	<string>smiley_3</string>
	<key>[睡着]</key>
	<string>smiley_23</string>
	<key>[礼物]</key>
	<string>smiley_53</string>
	<key>[红包]</key>
	<string>smiley_57</string>
	<key>[花痴]</key>
	<string>smiley_14</string>
	<key>[蛋糕]</key>
	<string>smiley_43</string>
	<key>[西瓜]</key>
	<string>smiley_44</string>
	<key>[调皮吐舌微笑]</key>
	<string>smiley_6</string>
	<key>[赞同]</key>
	<string>smiley_33</string>
	<key>[超级委屈]</key>
	<string>smiley_21</string>
	<key>[酣睡]</key>
	<string>smiley_22</string>
	<key>[酷酷一笑]</key>
	<string>smiley_11</string>
	<key>[金元宝]</key>
	<string>smiley_54</string>
	<key>[闭嘴]</key>
	<string>smiley_30</string>
	<key>[闭眼沮丧]</key>
	<string>smiley_19</string>
	<key>[闷骚亲亲]</key>
	<string>smiley_16</string>
	<key>[阴天]</key>
	<string>smiley_47</string>
	<key>[雪人]</key>
	<string>smiley_50</string>
	<key>[雪糕]</key>
	<string>smiley_42</string>
	<key>[雷阵雨]</key>
	<string>smiley_48</string>
	<key>[露齿大笑]</key>
	<string>smiley_7</string>
	<key>[鞭炮]</key>
	<string>smiley_56</string>
	<key>[鞭炮庆祝]</key>
	<string>smiley_59</string>
	<key>[香肠微笑]</key>
	<string>smiley_1</string>
</dict>
</plist>
